:root {
  --tp-red-1: var(--tp-theme-primary);
  --tp-red-2: var(--tp-theme-primary);
  --tp-red-3: var(--tp-theme-primary);
  --tp-theme-4: var(--tp-theme-primary);
}

.tp-btn:hover,
.tp-header-sticky .tp-header-btn a:hover {
  background-color: #5d350b !important;
  border-color: #5d350b !important;
}